@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.show {
  animation-name: show;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 1000px;
}

.container h1 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid #dee2e6;
}

.container h1 span {
  color: #868e96;
  font-size: 0.8rem;
}

.container h2 {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(0);
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
}

/* This container holds the button and the list of choices */
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

/* This is for the actual button that displays current choice */
.dropdown__btn {
  font-weight: normal;
  margin: 0 0 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* This is the popup box. Position is set just below the current location of the button */
.dropdown__content {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 162px;
  width: 250px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem grey;
  transition: visibility 0.25s linear, opacity 0.25s ease;
}
.dropdown__content_visible {
  visibility: visible;
  opacity: 1;
}

/* This is the styling for each option, i  */
.dropdown__option {
  padding: 1rem;
  /* width: 100%; */
  background-color: white;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #dee2e6;
  transition: background-color 0.2s ease, font-size 0.2s ease;
}

.dropdown__option:focus {
  outline: 0;
}

/* This is the hover color and font-size effect */
.dropdown__option:hover {
  background-color: darkgrey;
  font-size: 1.25rem;
}

/* Added this rule to center the color options at all screen sizes */

